

@media (max-width: 767px){
  .left-nav {
    background-color: white;
    width: 200px;
    position: absolute;
    left: -200px;
  }

  .right-container {
    position: relative;
  }

  .shell {
    position: relative;
    overflow: hidden;
  }
}