@import url(site.css);
@keyframes nav-logo-animation {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(15deg); }
  45% {
    transform: rotate(-15deg); }
  65% {
    transform: rotate(10deg); }
  85% {
    transform: rotate(-10deg); }
  90% {
    transform: rotate(5deg); }
  95% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }
div.graphic {
  min-width: 300px;
  min-height: 300px;
  width: auto;
  height: auto;
  position: relative;
  margin: 20px; }

div.graphic > div.scaleY {
  height: 97%;
  display: inline-block;
  padding-top: 20px;
  position: absolute; }

div.graphic > div.scaleY > div {
  height: 100%;
  position: relative; }

div.graphic > div.scaleY > div > * {
  position: absolute;
  width: 100%;
  text-align: right; }

div.graphic > div.scaleX {
  padding-left: 10px;
  padding-right: 10px;
  width: 98%;
  height: 2%;
  position: absolute;
  left: 20px;
  bottom: 0; }

div.graphic > div.scaleX > div {
  position: relative;
  width: 100%; }

div.graphic > div.scaleX > div > * {
  position: absolute; }

div.graphic > svg {
  padding: 10px;
  position: absolute;
  left: 20px; }

.svg-icon {
  vertical-align: middle; }

@media (max-width: 767px) {
  .left-nav {
    background-color: white;
    width: 200px;
    position: absolute;
    left: -200px; }

  .right-container {
    position: relative; }

  .shell {
    position: relative;
    overflow: hidden; } }
.btn-logout {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  background-color: transparent;
  width: 100%;
  border-radius: 0;
  text-align: unset; }

.btn-logout:hover {
  background-color: #eee; }

.version-dashboard:focus,
.version-dashboard:hover {
  color: unset;
  text-decoration: none; }

.version-dashboard {
  display: table !important;
  color: unset; }

.version-dashboard > *:first-child {
  display: table-cell;
  font-size: 36px;
  vertical-align: middle; }

.version-dashboard > *:last-child {
  display: table-cell;
  padding-left: 5px;
  vertical-align: bottom;
  padding-bottom: 2px;
  color: #333333; }

@media (max-width: 767px) {
  .version-dashboard > *:first-child {
    font-size: 24px; }

  .version-dashboard > *:last-child {
    font-size: xx-small; } }
.issue-tab > * > div {
  cursor: pointer; }

.issue-tab > *.active {
  border-bottom: 2px solid #333333; }

.issue-tab > * {
  color: #333333;
  border-bottom-color: #333333; }

.issue-tab > *.tab-done {
  color: #5cb85c !important;
  border-bottom-color: #5cb85c !important; }

.issue-tab > *.tab-in-progress {
  color: #f0ad4e !important;
  border-bottom-color: #f0ad4e !important; }

.issue-tab > *.tab-todo {
  color: #5bc0de !important;
  border-bottom-color: #5bc0de !important; }

.progress > *.tab-done {
  background-color: #5cb85c; }

.progress > *.tab-in-progress {
  background-color: #f0ad4e; }

.progress > *.tab-todo {
  background-color: #5bc0de; }

ol.issue-nav {
  padding: 0;
  margin-bottom: 15px;
  list-style: none;
  border-bottom: 1px solid #ddd; }

ol.issue-nav > li + li:before {
  padding: 0 5px;
  content: ''; }

ol.issue-nav > li:first-child {
  padding: 0; }

ol.issue-nav > li {
  color: #777;
  display: inline-block;
  font-size: smaller; }

#koalaLogo:hover {
  animation: 0.5s nav-logo-animation; }

#searchResult {
  max-height: 300px;
  overflow: auto; }

/*# sourceMappingURL=main.css.map */
